.CSPvNext .row-fluid:before,.CSPvNext .row-fluid:after {
    display:table;
    line-height:0;
    content:""
}

li.box-actions a::after {
    display:inline-block;
    position:relative;
    top:1px;
    width:7px;
    height:11px;
    margin-left:.5em;
    content:url(../Microsoft – Official Home Page_files/HPFeb15_caret_sm.png)
}

.fontface .icon-search:after {
  content: '⌕';
}