/target/
/output/
/testing/
/times/
/screenshots/
/reports-temp-backup/
/reports-final/
/icst-processing/
/resources/phantomjs
/src/main/java/edu/
/src/main/java/edu2/
/.settings/
/.idea/
.classpath
time-processing/.Rproj.user/
/times/
/time-processing/
*.iml
*.sh
*.txt
