html, body {
	margin: 0.0;
	padding: 0.0;
}
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0.0;
	padding: 0.0;
	border: 0.0;
	font-weight: normal;
	font-style: normal;
	font-size: 100.0%;
	line-height: 1.0;
	font-family: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
audio[controls], canvas, video {
	display: inline-block;
}
.sans-serif {
	font-family: 'Droid Sans', sans-serif;
}
.serif {
	font-family: 'Cambria,   Georgia,   Times,   ' Times New Roman;
}
.monospace {
	font-family: 'Monaco', Courier New, monospace;
}
.clearfix {
	zoom: 1.0;
}
.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	height: 0.0;
	overflow: hidden;
}
.clearfix:after {
	clear: both;
}
html {
	overflow-y: scroll;
	background: #ffffff;
	background: #ffffff url('../img/tmp/grid.png') repeat-y 50.0% 0.0;
	font-size: 62.5%;
}
body {
	margin: 0.0 auto;
	padding: 0.0;
	width: 90.0%;
	font-size: 16.0px;
	font-size: 1.6rem;
	font-family: 'Cambria,   Georgia,   Times,   ' Times New Roman;
	color: #282828;
	background-color: transparent;
}
button, input, select, textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #404040;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
}
h1 {
	margin-bottom: 0.75em;
	font-size: 48.0px;
	font-size: 4.8rem;
	line-height: 1.2;
}
h2 {
	margin-bottom: 0.75em;
	font-size: 32.0px;
	font-size: 3.2rem;
	line-height: 1.0;
}
h3 {
	margin-bottom: 1.0em;
	font-size: 24.0px;
	font-size: 2.4rem;
	line-height: 1.3;
}
h4 {
	margin-bottom: 1.0em;
	font-size: 18.0px;
	font-size: 1.8rem;
	line-height: 1.25;
}
h5 {
	margin-bottom: 1.5em;
	font-size: 16.0px;
	font-size: 1.6rem;
}
h6 {
	font-size: 16.0px;
	font-size: 1.6rem;
}
p, ol, ul, dl, address {
	margin-bottom: 1.5em;
	font-size: 16.0px;
	font-size: 1.6rem;
}
p {
	hyphens: auto;
	text-align: justify;
}
ul, ol {
	margin: 0.0 0.0 1.5em -24.0px;
	padding: 0.0 0.0 0.0 24.0px;
}
li ul, li ol {
	margin: 0.0;
	font-size: 16.0px;
	font-size: 1.6rem;
}
dl, dd {
	margin-bottom: 1.5em;
}
dt {
	font-weight: normal;
}
blockquote {
	margin: 0.0 0.0 1.5em -24.0px;
	padding-left: 24.0px;
	border-left: 1.0px solid #bfbfbf;
	font-style: italic;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
abbr[title] {
	border-bottom: 1.0px dotted;
	cursor: help;
}
b, strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	margin: 1.0em 0.0;
	padding: 0.0;
	height: 1.0px;
	border: 0.0;
	border-top: 1.0px solid #bfbfbf;
}
ins {
	background-color: #c3d9e6;
	color: #000000;
	text-decoration: none;
}
mark {
	background-color: #c3d9e6;
	color: #000000;
	font-style: italic;
	font-weight: bold;
}
pre, code, kbd, samp {
	font-family: 'Monaco', Courier New, monospace;
	font-size: 14.0px;
	font-size: 1.4rem;
	line-height: 1.5em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q {
	quotes: none;
}
q:before, q:after {
	content: '';
	content: none;
}
small {
	font-size: 14.0px;
	font-size: 1.4rem;
}
sub, sup {
	font-size: 12.0px;
	font-size: 1.2rem;
	line-height: 0.0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
a {
	color: #013568;
}
a:visited {
	color: #011b35;
}
a:hover {
	color: #011b35;
}
a:focus {
	outline: thin dotted;
	color: #011b35;
}
a:hover, a:active {
	outline: 0.0;
}
figure {
	margin-bottom: 1.5em;
}
figure img, figure object, figure embed {
	margin-bottom: 0.75em;
	max-width: 100.0%;
}
figcaption {
	display: block;
	font-weight: normal;
}
img {
	border: 0.0;
}
table {
	border-collapse: collapse;
	border-spacing: 0.0;
	margin-bottom: 1.5em;
	width: 100.0%;
	font-size: 14.0px;
	font-size: 1.4rem;
}
th, td, caption {
	padding: 0.1875em 10.0px 0.1875em 5.0px;
}
tfoot {
	font-style: italic;
}
caption {
	background-color: transparent;
}
tbody tr:nth-child(odd) td {
	background-color: #c3d9e6;
}
form {
	margin: 0.0;
}
fieldset {
	margin-bottom: 1.5em;
	padding: 0.0;
	border-width: 0.0;
}
legend {
	padding: 0.0;
	border-width: 0.0;
}
label {
	font-weight: normal;
	cursor: pointer;
}
button, input, select, textarea {
	font-size: 12.0px;
	font-size: 1.2rem;
	margin: 0.0;
	vertical-align: baseline;
}
button, input {
	line-height: normal;
}
button, input[type='button'], input[type='reset'], input[type='submit'] {
	cursor: pointer;
}
input[type='checkbox'], input[type='radio'] {
	box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
html {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: #c3d9e6;
	-webkit-text-size-adjust: 100.0%;
	-ms-text-size-adjust: 100.0%;
}
:selection {
	background: #472008;
	color: #ffffff;
	text-shadow: none;
}
button, input[type='button'], input[type='reset'], input[type='submit'] {
	-webkit-appearance: button;
}
.ie7 img, .iem7 img {
	-ms-interpolation-mode: bicubic;
}
input[type='checkbox'], input[type='radio'] {
	box-sizing: border-box;
}
input[type='search'] {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
}
p {
	-webkit-hyphens: auto;
	-webkit-hyphenate-character: '\2010';
	-webkit-hyphenate-limit-after: 1.0;
	-webkit-hyphenate-limit-before: 3.0;
	-moz-hyphens: auto;
}
.ir {
	display: block;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	text-indent: -999.0em;
	direction: ltr;
}
.ir br {
	display: none;
}
.hidden {
	display: none;
	visibility: hidden;
}
.visuallyhidden {
	position: absolute;
	margin: -1.0px;
	padding: 0.0;
	height: 1.0px;
	width: 1.0px;
	overflow: hidden;
	border: 0.0;
	clip: rect(0.0 0.0 0.0 0.0);
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	position: static;
	margin: 0.0;
	height: auto;
	width: auto;
	overflow: visible;
	clip: auto;
}
.invisible {
	visibility: hidden;
}
@media print {
	* {
		background: transparent !important;
		color: #000000 !important;
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	h2, h3 {
		orphans: 3.0;
		widows: 3.0;
		page-break-after: avoid;
	}

	p {
		orphans: 3.0;
		widows: 3.0;
	}

	pre, blockquote {
		border: 1.0px solid #808080;
		page-break-inside: avoid;
	}

	abbr[title]:after {
		content: ' (' attr(title) ')';
	}

	a, a:visited {
		color: #000000 !important;
		text-decoration: underline;
	}

	a[href]:after {
		content: ' (' attr(href) ')';
	}

	a[href^='javascript:']:after, a[href^='#']:after {
		content: '';
	}

	img {
		max-width: 100.0% !important;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr {
		page-break-inside: avoid;
	}

	.ir a:after {
		content: '';
	}
}
html {
	background: #e7e1d7;
}
img {
	width: 100.0%;
}
a, a:visited {
	color: #e84960;
	text-decoration: none;
}
a:hover, a:focus {
	color: #38bdea;
}
.content a {
	font-weight: bold;
}
footer a {
	colour: #ffffff;
	font-weight: normal;
	background: none;
}
footer a:hover {
	colour: #472008;
}
h1, h2, h3, h4, h5, h6 {
	color: #302d26;
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
	letter-spacing: 1.0px;
}
h1 {
	font-size: 1.75em;
	text-shadow: 0.0 1.0px 0.0 rgba(255,255,255,0.5);
	line-height: 110.0%;
	margin-bottom: 0.3em;
}
section {
	position: relative;
	float: left;
	margin-top: 110.0px;
	margin-bottom: -45.0px;
}
section#intro {
	margin-top: 80.0px;
}
section#deploy {
	margin-bottom: 30.0px;
}
section h1 {
	padding: 15.0px;
	font-size: 5.0rem;
	line-height: 120.0%;
	margin: 85.0px 0.0 20.0px;
	text-shadow: 0.0 1.0px 1.0px #ffffff;
	font: 300.0 3.0em/120.0% 'Lato', Helvetica, Arial, sans-serif;
}
section#intro h1 {
	background: none;
	border-bottom: none;
	font-size: 2.0em;
	display: block;
	padding: 0.0;
	margin-top: 0.0;
}
h2 {
	font-size: 2.0em;
	font-weight: 300.0;
	text-shadow: 0.0px 1.0px 0.0px #ffffff;
	margin-left: 15.0px;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}
p {
	line-height: 150.0%;
	text-align: left;
	text-shadow: 0.0 1.0px 0.0 rgba(255,255,255,0.5);
	margin: 0.0 15.0px 20.0px;
}
.width {
	margin: 0.0 auto;
	width: 90.0%;
	max-width: 1200.0px;
	position: relative;
}
body {
	color: #302d26;
	font-family: 'Droid Sans', sans-serif;
	width: 100.0%;
}
nav ul#menu {
	font-family: 'Droid Sans', sans-serif;
	font-weight: normal;
}
nav ul#logo li {
	background: url('../img/logo3.png') no-repeat top;
	height: 80.0px;
	margin: 0.0;
	text-indent: -9000.0em;
	width: 85.0px;
	background-size: 85.0px 80.0px;
}
nav ul#logo li a {
	float: left;
	height: 80.0px;
	width: 85.0px;
}
nav ul#logo {
	margin-bottom: 0.0;
}
nav ul#menu {
	list-style: none;
	position: absolute;
	right: 0.0;
	top: 30.0px;
}
nav ul#menu li {
	float: left;
}
nav ul#menu li a {
	border-bottom: none;
	background: none;
	font-size: 0.85em;
	padding: 0.9em 0.5em;
	text-decoration: none;
}
nav ul#menu li.last a {
	padding: 0.9em 0.0 0.9em 0.4em;
}
nav ul#menu li a:hover, nav ul#menu li a:focus {
	background: none;
}
ul#home li {
	font-family: lato;
	font-size: 2.4em;
	line-height: 60.0px;
	list-style: none;
}
ul#home li span {
	display: none;
}
.step {
	float: left;
	margin-bottom: 3.0%;
	width: 100.0%;
}
.step.last {
	margin-bottom: -110.0px;
}
.step img {
	-webkit-box-shadow: 0.0px 1.0px 2.0px 0.0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0.0px 1.0px 2.0px 0.0px rgba(0,0,0,0.2);
	box-shadow: 0.0px 1.0px 2.0px 0.0px rgba(0,0,0,0.2);
	margin: 0.0 0.0 15.0px 0.0;
}
footer {
	background: #222222;
	float: left;
	clear: both;
	font-size: 0.9em;
	padding: 30.0px 0.0 40.0px;
	width: 100.0%;
}
#footer {
	color: #491705;
	max-width: 1200.0px;
	width: 90.0%;
	margin: 0.0 auto;
	color: #ffffff;
}
#footer p {
	float: left;
	text-shadow: none;
}
.smallBox, .largebox {
	width: 90.0%;
}
#mainsite {
	font-size: 1.1em;
	line-height: 44.0px;
	margin: 10.0px 0.0 0.0;
}
#mainsite a, #mainsite a:visited {
	background: url('../img/footer-sprite.png') 0.0 -104.0px no-repeat;
	padding: 12.0px 0.0 12.0px 50.0px;
}
#mainsite a:hover, #mainsite a:active {
	background: url('../img/footer-sprite.png') 0.0 -257.0px no-repeat;
}
@media screen AND (min-width: 480.0px) {
	section h1 {
		font-size: 4.0em;
	}

	nav ul#menu li a {
		border-bottom: none;
		font-size: 1.0em;
		padding: 0.8em;
		text-decoration: none;
	}

	nav ul#menu li.last a {
		padding: 0.9em 0.0 0.9em 0.8em;
	}

	nav ul#menu li a:hover, nav ul#menu li a:focus {
		background: none;
	}
}
@media screen AND (min-width: 606.0px) {
	h1 {
		font-size: 2.0em;
	}

	h2 {
		font-size: 2.4em;
	}

	nav ul#logo li {
		background: url('../img/logo3.png') no-repeat top;
		height: 80.0px;
		margin: 0.0;
		text-indent: -9000.0em;
		width: 85.0px;
		background-size: 85.0px 80.0px;
	}

	nav ul#logo li a {
		float: left;
		height: 80.0px;
		width: 85.0px;
	}

	nav ul#logo {
		margin-bottom: 0.0;
	}

	.smallBox {
		font-size: 1.0em;
		width: 30.0%;
	}

	.step {
		float: left;
		width: 100.0%;
	}

	.step p {
		float: right;
		width: 48.0%;
	}

	p {
		margin: 0.0 0.0 20.0px;
	}

	.step img {
		float: left;
		margin: 0.0 15.0px 15.0px 0.0;
		width: 48.0%;
	}

	section#intro {
		margin-top: 90.0px;
	}

	section#intro h1 {
		font-size: 2.5em;
	}
}
@media screen AND (min-width: 768.0px) {
	nav ul#menu li a {
		border-bottom: none;
		padding: 0.9em;
		text-decoration: none;
	}

	nav ul#menu li a:hover, nav ul#menu li a:focus {
		background: none;
	}

	ul#home li span {
		display: inline-block;
	}
}
@media screen AND (min-width: 992.0px) {
	section h1 {
		font-size: 6.0em;
	}

	#intro h1, h2 {
		float: right;
		width: 48.0%;
		margin-left: 0.0;
	}

	step p {
		margin: 0.0 0.0 20.0px;
	}

	section#intro {
		margin-top: 110.0px;
	}

	section#intro h1 {
		font-size: 3.0em;
	}
}
@media screen AND (min-width: 1382.0px) {
	section#intro h1 {
		font-size: 4.0em;
	}
}
#floatingnav {
	background: url('../img/top-bg2.png') repeat-x top;
	position: fixed;
	top: 0.0px;
	z-index: 999.0;
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	float: left;
	width: 100.0%;
}
@font-face  {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 400.0;
	src: local('Droid Sans'), local('DroidSans'), url('http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciC3USBnSvpkopQaUR-2r7iU.ttf') format('truetype');
}
@font-face  {
	font-family: 'Droid Sans';
	font-style: normal;
	font-weight: 700.0;
	src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('http://fonts.gstatic.com/s/droidsans/v6/EFpQQyG9GqCrobXxL-KRMfEr6Hm6RMS0v1dtXsGir4g.ttf') format('truetype');
}
@font-face  {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300.0;
	src: local('Lato Light'), local('Lato-Light'), url('http://fonts.gstatic.com/s/lato/v11/nj47mAZe0mYUIySgfn0wpQ.ttf') format('truetype');
}
@font-face  {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400.0;
	src: local('Lato Regular'), local('Lato-Regular'), url('http://fonts.gstatic.com/s/lato/v11/v0SdcGFAl2aezM9Vq_aFTQ.ttf') format('truetype');
}
