/* ------------------------
:: Default 320 CSS
------------------------- */
html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

audio[controls], canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.sans-serif {
    font-family: 'Droid Sans', sans-serif;
}

.serif {
    font-family: "Cambria,  Georgia,  Times,  " Times New Roman;
}

.monospace {
    font-family: "Monaco", Courier New, monospace;
}

.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

html {
    overflow-y: scroll;
    background: #ffffff;
    background: #ffffff url(../img/tmp/grid.png) repeat-y 50% 0;
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "Cambria,  Georgia,  Times,  " Times New Roman;
    color: #282828;
    background-color: transparent;
}

button, input, select, textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #404040;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h1 {
    margin-bottom: 0.75em;
    font-size: 48px;
    font-size: 4.8rem;
    line-height: 1.2;
}

h2 {
    margin-bottom: 0.75em;
    font-size: 32px;
    font-size: 3.2rem;
    line-height: 1;
}

h3 {
    margin-bottom: 1em;
    font-size: 24px;
    font-size: 2.4rem;
    line-height: 1.3;
}

h4 {
    margin-bottom: 1em;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.25;
}

h5 {
    margin-bottom: 1.5em;
    font-size: 16px;
    font-size: 1.6rem;
}

h6 {
    font-size: 16px;
    font-size: 1.6rem;
}

p, ol, ul, dl, address {
    margin-bottom: 1.5em;
    font-size: 16px;
    font-size: 1.6rem;
}

p {
    hyphens: auto;
    text-align: justify;
}

ul, ol {
    margin: 0 0 1.5em -24px;
    padding: 0 0 0 24px;
}

li ul, li ol {
    margin: 0;
    font-size: 16px;
    font-size: 1.6rem;
}

dl, dd {
    margin-bottom: 1.5em;
}

dt {
    font-weight: normal;
}

blockquote {
    margin: 0 0 1.5em -24px;
    padding-left: 24px;
    border-left: 1px solid #bfbfbf;
    font-style: italic;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

b, strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #bfbfbf;
}

ins {
    background-color: #c3d9e6;
    color: #000000;
    text-decoration: none;
}

mark {
    background-color: #c3d9e6;
    color: #000000;
    font-style: italic;
    font-weight: bold;
}

pre, code, kbd, samp {
    font-family: "Monaco", Courier New, monospace;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before, q:after {
    content: "";
    content: none;
}

small {
    font-size: 14px;
    font-size: 1.4rem;
}

sub, sup {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

a {
    color: #013568;
}

a:visited {
    color: #011b35;
}

a:hover {
    color: #011b35;
}

a:focus {
    outline: thin dotted;
    color: #011b35;
}

a:hover, a:active {
    outline: 0;
}

figure {
    margin-bottom: 1.5em;
}

figure img, figure object, figure embed {
    margin-bottom: 0.75em;
    max-width: 100%;
}

figcaption {
    display: block;
    font-weight: normal;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
    width: 100%;
    font-size: 14px;
    font-size: 1.4rem;
}

th, td, caption {
    padding: 0.1875em 10px 0.1875em 5px;
}

tfoot {
    font-style: italic;
}

caption {
    background-color: transparent;
}

tbody tr:nth-child(odd) td {
    background-color: #c3d9e6;
}

form {
    margin: 0;
}

fieldset {
    margin-bottom: 1.5em;
    padding: 0;
    border-width: 0;
}

legend {
    *margin-left: -7px;
    padding: 0;
    border-width: 0;
}

label {
    font-weight: normal;
    cursor: pointer;
}

button, input, select, textarea {
    font-size: 12px;
    font-size: 1.2rem;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button, input {
    line-height: normal;
    *overflow: visible;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}

input[type="search"] {
    box-sizing: content-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

html {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: #c3d9e6;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

::-webkit-selection {
    background: #e6e6e6;
    color: #fafafa;
    text-shadow: none;
}

::-moz-selection {
    background: #7bacc8;
    color: #c8977b;
    text-shadow: none;
}

::selection {
    background: #472008;
    color: #fff;
    text-shadow: none;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
}

::-webkit-input-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
}

input:-moz-placeholder {
    font-size: 14px;
    font-size: 1.4rem;
}

.ie7 img, .iem7 img {
    -ms-interpolation-mode: bicubic;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

p {
    -webkit-hyphens: auto;
    -webkit-hyphenate-character: "\2010";
    -webkit-hyphenate-limit-after: 1;
    -webkit-hyphenate-limit-before: 3;
    -moz-hyphens: auto;
}

.ir {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -999em;
    direction: ltr;
}

.ir br {
    display: none;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    position: static;
    margin: 0;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
}

.invisible {
    visibility: hidden;
}

@media print {
    * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
}
 @page  {
    margin: 0.5cm;
}
h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
}
 p {
    orphans: 3;
    widows: 3;
}
 pre, blockquote {
    border: 1px solid #808080;
    page-break-inside: avoid;
}
 abbr[title]:after {
    content: " (" attr(title) ")";
}
 a, a:visited {
    color: #000000 !important;
    text-decoration: underline;
}
 a[href]:after {
    content: " (" attr(href) ")";
}
 a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}
 img {
    max-width: 100% !important;
    page-break-inside: avoid;
}
 thead {
    display: table-header-group;
}
 tr {
    page-break-inside: avoid;
}
 .ir a:after {
    content: "";
}
}


/* ------------------------
:: Custom Styles
------------------------- */
html {
    background: #e7e1d7;
}

img  {
    width:  100%;
}

a,  a:visited  {
    color:  #e84960;
    text-decoration:  none;
}

a:hover,  a:focus  {
    color:  #38BDEA;
}

.content a  {
    font-weight:  bold;
}

footer a  {
    colour: #fff;
    font-weight:  normal;
     background:  none;
}

footer a:hover  {
    colour: #472008;
}

h1,  h2,  h3,  h4,  h5,  h6  {
    color:  #302d26;
    font-family: 'Droid Sans',  sans-serif;
    font-weight:  normal;
    letter-spacing:  1px;
}

h1  {
    font-size:  1.75em;
    text-shadow:  0 1px 0 rgba(255,  255,  255,  .5);
    filter:  dropshadow(color=#ffffff,  offx=0,  offy=1);
     line-height: 110%;
    margin-bottom:  .3em;
}

section  {
    position:  relative;
     float:  left;
    margin-top:  110px;
     margin-bottom:  -45px;
}
 
section#intro  {
    margin-top:  80px;
}

section#deploy  {
    margin-bottom:  30px;
}

section h1  {
    padding:  15px;
    font-size:  5.0rem;
    line-height:  120%;
    margin:  85px 0 20px;
    text-shadow: 0 1px 1px #fff;
     font:  300 3em/120% "Lato",  Helvetica,  Arial,  sans-serif;
}

section#intro h1  {
    background:  none;
     border-bottom:  none;
     font-size:  2em;
     display:  block;
      padding:  0;
     margin-top:  0;
}

h2  {
    font-size:  2em;
     font-weight:  300;
     text-shadow:  0px 1px 0px #fff;
     margin-left:  15px;
     font-family:  "Lato",  Helvetica,  Arial,  sans-serif;
}

p  {
    line-height:  150%;
    text-align:  left;
    text-shadow:  0 1px 0 rgba(255,  255,  255,  .5);
     margin: 0 15px 20px;
}

.width  {
    margin:  0 auto;
     width:  90%;
     max-width:  1200px;
    position:  relative;
}

/* -- nav - */
body  {
    color: #302d26;
    font-family: 'Droid Sans',  sans-serif;
    width:  100%;
}

nav ul#menu  {
    font-family:  'Droid Sans',  sans-serif;
     font-weight:  normal;
}

nav ul#logo li  {
    background: url(../img/logo3.png) no-repeat top;
    height:  80px;
    margin:  0;
    text-indent:  -9000em;
    width:  85px;
    background-size:  85px 80px;
}

nav ul#logo li a  {
    float:  left;
    height:  80px;
    width:  85px;
}

nav ul#logo  {
    margin-bottom:  0;
}

nav ul#menu  {
    list-style: none;
    position: absolute;
    right:  0;
    top:  30px;
}

nav ul#menu li {
    float:  left;
}

nav ul#menu li a  {
    border-bottom: none;
     background: none;
    font-size:  .85em;
    padding:  .9em .5em;
    text-decoration:  none;
}

nav ul#menu li.last a  {
    padding:  .9em 0 .9em .4em;
}

nav ul#menu li a:hover,  nav ul#menu li a:focus  {
    background:  none;
}

ul#home li {
    font-family:  lato;
    font-size:  2.4em;
    line-height:  60px;
    list-style:  none;
}

ul#home li span  {
    display: none;
}


/*-- UI --*/
.step  {
    float:  left;
    margin-bottom: 3%;
     width: 100%;
}

.step.last  {
    margin-bottom:  -110px;
}

.step img  {
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0,  0,  0,  .2);
    -moz-box-shadow:  0px 1px 2px 0px rgba(0,  0,  0,  .2);
    box-shadow:  0px 1px 2px 0px rgba(0,  0,  0,  .2);
    margin:  0 0 15px 0;
}

/* -- footer -- */
footer  {
    background:  #222;
     float: left;
    clear: both;
    font-size:  .9em;
    padding: 30px 0 40px;
    width: 100%;
}

#footer  {
    color:  #491705;
    max-width:  1200px;
    width:  90%;
    margin:  0 auto;
     color:  #fff;
}

#footer p  {
    float:  left;
     text-shadow:  none;
}

.smallBox,  .largebox  {
    width:  90%;
}

#mainsite  {
    font-size:  1.1em;
    line-height:  44px;
    margin:  10px 0 0;
}

#mainsite a,  #mainsite a:visited  {
    background:  url(../img/footer-sprite.png) 0 -104px no-repeat;
    padding:  12px 0 12px 50px;
}

#mainsite a:hover,  #mainsite a:active  {
    background:  url(../img/footer-sprite.png) 0 -257px no-repeat;
}



/* ------------------------
:: 480
------------------------- */
@media only screen and (min-width: 480px) {
    
section h1  {
    font-size:  4em;
}

nav ul#menu li a  {
    border-bottom:  none;
    font-size:  1em;
    padding:  .8em;
    text-decoration:  none;
}

nav ul#menu li.last a  {
    padding:  .9em 0 .9em .8em;
}

nav ul#menu li a:hover,  nav ul#menu li a:focus  {
    background:  none;
}
}

/* ------------------------
:: 600
------------------------- */
@media only screen and (min-width: 600px) {
    
h1  {
    font-size:  2em;
}

h2  {
    font-size:  2.4em;
}

/* -- nav - */
nav ul#logo li  {
    background: url(../img/logo3.png) no-repeat top;
    height:  80px;
    margin:  0;
    text-indent:  -9000em;
    width:  85px;
    background-size:  85px 80px;
}

nav ul#logo li a  {
    float:  left;
    height:  80px;
    width:  85px;
}

nav ul#logo  {
    margin-bottom:  0;
}

.smallBox  {
    font-size:  1em;
    width:  30%;
}

.step  {
    float:  left;
    width:  100%;
}

.step p  {
    float:  right;
    width:  48%;
}

p  {
    margin:  0 0 20px;
}

.step img  {
    float:  left;
    margin:  0 15px 15px 0;
    width:  48%;
}

section#intro  {
    margin-top:  90px;
}

section#intro h1  {
    font-size:  2.5em;
}

}


/* ------------------------
:: 768
------------------------- */
@media only screen and (min-width: 768px) {
    

/* -- nav - */
nav ul#menu li a  {
    border-bottom:  none;
    padding:  .9em;
    text-decoration:  none;
}

nav ul#menu li a:hover,  nav ul#menu li a:focus  {
    background:  none;
}

ul#home li span  {
    display: inline-block;
 }

}


/* ------------------------
:: 992
------------------------- */
@media only screen and (min-width: 992px) {
    
section h1  {
    font-size:  6em;
}

#intro h1,  h2  {
    float:  right;
    width:  48%;
    margin-left:  0;
}

step p  {
    margin:  0 0 20px;
}

section#intro  {
    margin-top:  110px;
}

section#intro h1  {
    font-size:  3em;
}

}


/* ------------------------
:: 1382
------------------------- */
@media only screen and (min-width: 1382px) {
    
section#intro h1  {
    font-size:  4em;
}


}


/* ------------------------
:: Pixel Ratio
------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), 
only screen and (-o-min-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {
    
}

#floatingnav {
    
background: url(../img/top-bg2.png) repeat-x top;
    
position: fixed;
    
top: 0px;
    
z-index: 999;
    
display: block;
    
clear: both;
    
margin-left: auto;
    
margin-right: auto;
    
overflow:  hidden;
    
float:  left;
    
width:  100%;
    
}